.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HComp{
  position:absolute;
  top: 0;
  font-style: Arial;
  font-size: 40px;
  text-align: center;
  border: 3px solid green;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.LComp{
  position: absolute;
  left: 0;
  font-style: cooper;
}

.RComp{
  position: absolute;
  right: 0;
  font-style: cooper;
}

.FComp{
  position: absolute;
  bottom: 0;
  font-style: cooper;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
